    <div class="panel panel-default">
        <div class="panel-heading" style="padding: 2px 15px;">
            <h4>@dahernan</h4>
        </div>
        <div class="panel-body">
            <img src="/images/profile.jpg" class="img-responsive img-thumbnail" alt="My profile image"/>
            <a href="https://github.com/dahernan/" class="btn btn-primary btn-xs"><i class="fa fa-github-square fa-2x"></i></a>
            <a href="https://www.twitter.com/dahernan" class="btn btn-info btn-xs"><i class="fa fa-twitter-square fa-2x"></i></a>
            <a href="http://linkedin.com/in/dahernan" class="btn btn-info btn-xs"><i class="fa fa-linkedin-square fa-2x"></i></a>      
        </div>
    </div>